<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Progetto_TIW_HTML</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/progettotiw?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>Nedduzzo1</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <filter>
    <filter-name>LoginChecker</filter-name>
    <filter-class>it.polimi.tiw.progettoTIW.filters.LoginChecker</filter-class>
  </filter>
  <filter>
    <filter-name>TeacherChecker</filter-name>
    <filter-class>it.polimi.tiw.progettoTIW.filters.TeacherChecker</filter-class>
  </filter>
  <filter>
    <filter-name>StudentChecker</filter-name>
    <filter-class>it.polimi.tiw.progettoTIW.filters.StudentChecker</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginChecker</filter-name>
    <url-pattern>/CreateVerbal</url-pattern>
    <url-pattern>/GoToAppeal</url-pattern>
    <url-pattern>/GoToAvailableCourses</url-pattern>
    <url-pattern>/GoToHomeStudent</url-pattern>
    <url-pattern>/GoToHomeTeacher</url-pattern>
    <url-pattern>/GoToResults</url-pattern>
    <url-pattern>/GoToReviews</url-pattern>
    <url-pattern>/GoToSetMarkForm</url-pattern>
    <url-pattern>/GoToStudentReviews</url-pattern>
    <url-pattern>/GoToSubscriptionSuccess</url-pattern>
    <url-pattern>/GoToVerbal</url-pattern>
    <url-pattern>/Logout</url-pattern>
    <url-pattern>/PublishMarks</url-pattern>
    <url-pattern>/RefuseMark</url-pattern>
    <url-pattern>/SetMark</url-pattern>
    <url-pattern>/SubscribeToAppeal</url-pattern>
    <url-pattern>/SubscribeToCourse</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TeacherChecker</filter-name>
    <url-pattern>/CreateVerbal</url-pattern>
    <url-pattern>/GoToAppeal</url-pattern>
    <url-pattern>/GoToHomeTeacher</url-pattern>
    <url-pattern>/GoToReviews</url-pattern>
    <url-pattern>/GoToSetMarkForm</url-pattern>
    <url-pattern>/GoToVerbal</url-pattern>
    <url-pattern>/PublishMarks</url-pattern>
    <url-pattern>/SetMark</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StudentChecker</filter-name>
    <url-pattern>/GoToAvailableCourses</url-pattern>
    <url-pattern>/GoToHomeStudent</url-pattern>
    <url-pattern>/GoToResults</url-pattern>
    <url-pattern>/GoToStudentReviews</url-pattern>
    <url-pattern>/GoToSubscriptionSuccess</url-pattern>
    <url-pattern>/RefuseMark</url-pattern>
    <url-pattern>/SubscribeToAppeal</url-pattern>
    <url-pattern>/SubscribeToCourse</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>